{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="featured-products">
  <h1 class="featured-products__label">
    Featured Products
  </h1>

  <div class="featured-products__products products">
    {% for product in products %}
      <div class="products__product">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>

