@import 'colors';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  align-items: center;
  box-sizing: border-box;

  a {
    color: $products-label;
    font-size: 24px;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
  }
}

.cart {
  text-align: center;

  &__label {
    margin: 100px 0 30px;
    text-align: center;
    color: $cart-label;
    font-size: 42px;
    line-height: 48px;
    font-family: Inter;
    font-weight: 800;
  }

  &__paragraph-cart-empty {
    text-align: center;
    color: $cart-label;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
  }

  &__total {
    margin: 50px 0 100px;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
  }
}