@import 'fonts';
@import 'colors';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  align-items: center;

  a {
    color: $products-label;
    font-size: 24px;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
  }
}

.featured-products {
  margin-bottom: 69px;

  * {
    box-sizing: border-box;
  }

  &__label {
    color: $products-label;
    text-align: center; 
    font-size: 26px;
    font-weight: 800;
    line-height: 42px;
    font-family: Inter;
    margin: 40px 0 30px;
  }

  &__products {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 986px;
    margin: 0 auto;
  }
}

@media (min-width: 986px) {
  .featured-products {
    margin-bottom: 139px;

    &__label {
      font-size: 48px;
      margin: 139px 0 80px;
    }

    &__products {
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
      row-gap: 89px;
    }
  }
}